/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /* margin-bottom: 60px; Adjust based on footer height */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex
;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

/* 
header .logo {
    width: 50px;
    height: 50px;
} */

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007BFF;
}

.logo img {
    width: 50px;
    height: 50px;
}

.hero {
    text-align: center;
    padding: 50px;
    background: url('image/2024-11-17_22-26-50-530.BMP') no-repeat center center/cover;
    color: white;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #0056b3;
}

.about, .projects, .certificates {
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    animation: slideIn 1s ease-in-out;
}

.about{
    background: url('image/2024-11-17_22-26-50-530.BMP') no-repeat center center/cover;
    color: white;
    max-width: 100% !important;
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.about h2, .projects h2, .certificates h2 {
    text-align: center;
}
.service-text {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    animation: slideIn 1s ease-in-out;
}
.about-content, .service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-content div, .service {
    flex: 1;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-content div:hover, .service:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.about-content img, .service img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    /* position: fixed; */
    width: auto;
    bottom: 0;
}